:root {
  --darkColor: #1b262c;
  --darkBlueColor: #0f4c75;
  --blueColor: #3282b8;
  --lightBlueColor: #bbe1fa;
  --black: #000000;
  --one: #740202;
  --two: #950101;
  --red: #ff0000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
  text-decoration: none;
}
body {
  direction: rtl;
  behavior: smooth;
  font-family: "cairo";
  overflow-x: hidden;
}
nav .container h1 {
  color: #f9f9f9;
}
nav a.navbar-brand img {
  width: 250px;
}
ul li a {
  position: relative;
  font-size: 20px !important;
  text-decoration: none;
  font-weight: 600 !important;
  color: #f9f9f9 !important;
  transition: 0.6s color;
}
ul li a.active,
ul li a:hover {
  color: #ff0000 !important;
}
ul li a.active::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #ff0000;
  bottom: -5px;
  left: 50%;
  transform: translateX(calc(-50% - 5px));
}
ul li a.active::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 3px;
  background-color: #ff0000;
  bottom: -5px;
  left: 50%;
  transform: translateX(calc(-50% + 10px));
}
.home {
  position: relative;
  min-height: calc(100vh - 72px);
  background-image: url("../images/back-ground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home .overlay {
  min-width: 100%;
  min-height: 100%;
  background-color: #0000008a;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.home h1 span {
  font-size: 3rem;
}
.home h1 {
  font-size: 44px;
}
.home h2 {
  font-size: 40px;
}
.home h2 {
  font-size: 30px;
}
.home .container {
  position: relative;
  z-index: 999;
}
.home .container .row {
  min-height: calc(100vh - 150px);
  align-items: center;
  color: #f9f9f9;
  justify-content: space-evenly;
}
.home .container .row h1 span {
  color: red;
}
.home .container .row .img img {
  max-width: 100%;
}
.service {
  min-height: 50vh;
  background-color: #eee;
  color: #333;
}
.service .nav-pills {
  width: fit-content;
}
.service ul.list li {
  font-size: 20px;
}
.nav-pills .nav-link {
  border: 1px solid #ff0000;
  color: #000000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ff0000;
  color: #eee;
}
.tab-pane.fade.show.active {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--one);
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 300px;
  border-radius: 8px;
}
.swiper-slide svg {
  font-size: 30px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.main h1 {
  position: relative;
  width: fit-content;
  margin-bottom: 30px;
  color: #950101;
}
.main h1::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 3px;
  background-color: #950101;
  bottom: -10px;
  left: 0;
}
.main h1::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  background-color: #950101;
  bottom: -10px;
  right: 0;
}
.about-us {
  min-height: auto;
  background-color: #f9f9f9;
  font-size: 19px;
}
.about-us .row {
  min-height: auto;
  align-items: center;
}
.about-us .row img {
  width: 60%;
  float: left;
}
.contact-now {
  z-index: 9;
  position: fixed;
  bottom: 70px;
  left: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.sec-three {
  background-color: #eee;
  min-height: 84vh;
}
.sec-three .carousel-inner {
  width: 50%;
}
.contact-now img {
  width: 70px;
}
.carousel-item img {
  max-height: 650px;
}
footer img {
  width: 30px;
}
footer a {
  color: #f9f9f9;
}
footer .social div {
  justify-content: space-between;
  width: 65%;
}
footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 50px;
}
.to-up {
  position: fixed;
  bottom: 30px;
  right: -100px;
  transition: 0.6s right;
  z-index: 99;
  cursor: pointer;
}
.to-up.show {
  right: 30px;
}
.to-up img {
  width: 50px;
}
@media (max-width: 720px) {
  nav a.navbar-brand img {
    width: 150px;
  }
  .sec-three {
    height: auto;
  }
  .home {
    min-height: 60vh;
  }
  .home .container .row {
    min-height: 60vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  .about-us .row {
    min-height: auto;
    align-items: center;
    justify-content: center;
  }
  .about-us .row div.img {
    text-align: center;
  }
  .about-us .row img {
    width: 60%;
    float: none;
  }
  ul li a.active,
  ul li a:hover {
    width: fit-content;
    color: var(--lightBlueColor) !important;
  }
  ul li a.active::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 3px;

    bottom: -5px;
    left: 50%;
    transform: translateX(calc(-50% - 5px));
  }
  ul li a.active::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 3px;
    bottom: -5px;
    left: 50%;
    transform: translateX(calc(-50% + 10px));
  }
  iframe {
    width: 300px !important;
    height: 150px !important;
  }
  .sec-three {
    background-color: #eee;
    min-height: auto;
  }
  .sec-three .carousel-inner {
    width: 50%;
  }
  .contact-now img {
    width: 50px;
  }
  .carousel-item img {
    max-height: 650px;
  }
  footer img {
    width: 30px;
  }
  .to-up.show {
    right: 20px;
  }
}
